body {
    /* background-color: whitesmoke; */
    background-color: #1B1B1B;
    overflow: hidden;
    }

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;	
}

div {
    /* background-color: lightblue; */
    position: absolute;
}

.sketch {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:-1;
      /* right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; */
    /* width: 100%;	 */
}

.counter-container {
    color: white;
    font-size: x-large;
    position: fixed;
    width: 400px;
    left: 3vw;
    bottom: 3vw;
    /* transform: translate(-50%, -50%); */
    /* margin: 0 auto; */
}

.counter-day {
    font-family: 'Orbitron', sans-serif;
}

.counter-hour {
    font-family: 'Orbitron', sans-serif;
}

.button {
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: fixed;
    top: 5vw;
    right: 5vw;
    width: 5vw;
}
.button img {
    width: 100%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.overlay:target {
    visibility: visible;
    opacity: 0.9;
}

.popup {
    margin: auto;
    width: 100vw;
    /* height: 100vh; */
    padding: 1rem;
    background: whitesmoke;
    border-radius: 5px;
    transition: all 1s ease-in-out;
    /* display: flex;
    justify-content: space-evenly; */
}

#info-page {
    width: 100%;
}

.close {
    position: fixed;
    top: 5vw;
    left: 87vw;
    transition: all 200ms;
    font-size: 7vw;
    font-weight: light;
    text-decoration: none;
    color:black;
}
    .close:hover {
    color: gray;
}

.loadingclass {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    color: antiquewhite;
    font-size: 6vh;
    font-family: 'Roboto';
}

.lds-ellipsis {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.lds-ellipsis div {
position: absolute;
top: 33px;
width: 13px;
height: 13px;
border-radius: 50%;
background: #fff;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 8px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 8px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 32px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 56px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


